:root {
    font-family: sans-serif, Arial, 'Times New Roman';
    --title-font-color: #f5f5f4;
    --title-font-size: 60px;
    --tab-color: #dc2626;
    --description-font-size: 30px;
    --description-font-color: #f5f5f4;
    --body-width: 700px;
    --vertical-background-width: 200px;
}

html {
    min-height: 100vh;
    /* min-width: 100vw; */
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/**** Webpage container ****/

body {
    margin: 0px;
    background-image: url('./assets/images/website-background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.webpage-container {
    display: flex;
    justify-content: center;
}

.vertical-background {
    width: calc(var(--body-width) + var(--vertical-background-width));
    min-height: 100vh;
    background-color: rgb(0,0,0,0.5);
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**************************/

/**** Header of website ****/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 70px 0px;
}

.restaurant-title {
    font-size: var(--title-font-size);
    margin: 0px 0px 30px 0px;

    color: var(--title-font-color);
}

.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 70px;

    color: var(--tab-color);
    font-size: 40px;
    font-weight: bold;
}

.tab-button:hover {
    cursor: pointer;
}

.selected-tab {
    text-decoration: underline;
}

/**************************/

/**** Content of webpage ****/

/**** General ****/
.body {
    width: var(--body-width);
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    justify-items: center;
    gap: 30px;
}

/**** Home Page ****/
.storeFront-img {
    width: var(--body-width);
    height: auto;
    border-radius: 5px;
}

.restaurant-description {
    text-align: center;
    font-size: var(--description-font-size);
    color: var(--description-font-color);
}

.footer {
    color:white;
    font-size: 30px;
}

/**** Menu Page ****/
.menu {
    display: grid; 
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 80px;
}

.menu-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.menu-image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    grid-row: 1 / 3;
}

.menu-title,
.menu-description {
    color: var(--description-font-color);
}

.menu-title {
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.menu-description {
    margin: 0px;
    font-size: 25px;
    text-align: center;
}

/**** Contact Page ****/
.contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.contact-header {
    color: var(--description-font-color);
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;

}

.contact-container {
    color: var(--description-font-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    justify-content: space-between;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-title,
.contact-detail {
    margin: 0px;
    text-align: center;
}

.contact-title {
    font-size: 40px;
    display: grid;
    font-weight: bold;

}

.contact-detail {
    font-size: 25px;
}

.contact-icon {
    filter: invert(29%) sepia(92%) saturate(2808%) hue-rotate(347deg) brightness(88%) contrast(96%);
    width: 60px;
}

.address-detail {
    white-space: pre;
}

/**************************/